.subscription-history {
    font-family: 'Josefin Sans', sans-serif; /* Set the font for the entire Profile section */
    padding: 20px;
    box-shadow: none; /* Remove any shadow if exists */
    padding-top: 20px;
}

.subscription-title {
    position: relative;
    width: auto;
    height: auto;
    margin-top: -20px;
 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 10px; /* Space below the title */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscription-description {
    position: relative;
    width: auto;
    height: auto;
    top: -5px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #767272;
    margin-bottom: 20px; /* Space below the paragraph */
}

.gr {
    width: 100%; /* Full width of the section */
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -5px; /* Move the line up by 5 pixels */
}

.wbox {
    background-color: #fff; /* White background */
    padding: 20px; /* Padding inside the box */
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-top: 20px; /* Space above the white box */
    height: 490px;
}

.gry {
    background-color: #D9D9D9; /* Light gray background */
    padding: 15px; /* Padding inside the gray box */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 450px;
}

.rw {
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-start; /* Space between label and data */
    margin-bottom: 60px; /* Space between rows */
    align-items: center; /* Center align items vertically */
    gap: 40px;
}

.label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    font-weight: bold; /* Bold labels */
    flex: 1; /* Make labels take equal space */
}

.data {
    color: #333; /* Darker text for data */
    flex: 1; /* Make data take equal space */
    text-align: center; /* Align data text to the left */

    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.dv {
    position: relative;
    margin: 0 5px; /* Negative margin-top moves it upwards */
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: -40px; /* Adjust this value to move the line upwards */

}



